[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
flask-cors = "*"
flask-seasurf = "*"
flask-talisman = "*"
python-dotenv = "*"
pydantic = "*"
beanie = "*"
gunicorn = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
